<main>

    <section id="section-banner">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./assets/img/bannern1.png" class="d-block w-100" alt="Venha comprar na nossa loja!">
                </div>
                <div class="carousel-item">
                    <img src="./assets/img/gtabanner.png" class="d-block w-100" alt="Promoção de produtos">
                </div>
                <div class="carousel-item">
                    <img src="./assets/img/Gamecube-console_banner.png" class="d-block w-100" alt="Várias novidades de produtos">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <h2>Jogos</h2>
    <mat-grid-list cols="3">
        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="./assets/img/lombriga.png" alt="Jogo de aventura">
        
                <mat-card-header>
                  <mat-card-title>Jogo 1</mat-card-title>
                </mat-card-header>
                
                <mat-card-content>
                  <p>
                    Jogo retro.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <p>R$ 90,00</p>
                  <button mat-button>Comprar</button>
                </mat-card-actions>
              </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="./assets/img/jogo-splatoon.png" alt="Jogo de corrida">
        
                <mat-card-header>
                  <mat-card-title>Jogo 2</mat-card-title>
                </mat-card-header>
                
                <mat-card-content>
                  <p>
                    Jogo de ação.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <p>R$ 390,00</p>
                  <button mat-button>Comprar</button>
                </mat-card-actions>
              </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="./assets/img/jogo_combate.png" alt="Melhor de todos">
        
                <mat-card-header>
                  <mat-card-title>Jogo 3</mat-card-title>
                </mat-card-header>
                
                <mat-card-content>
                  <p>
                    Jogo de primeira pessoa
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <p>R$ 2300,00</p>
                  <button mat-button>Comprar</button>
                </mat-card-actions>
              </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
      

       






</main>